body {
    background-image: url(images/pic_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    gap: 20px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.logo {
    width: 167.02px;
    height: 29.46px;
}

.pro-profiles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.pro-profiles div {
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    text-align: center;
}

.hero-text p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    word-spacing: 20px;
}

.register-btn {
    box-shadow: 0px 2px 20px 0px #00000080;
    width: 162px;
    height: 44px;
    background: #C271FF;
    color: #FFFFFF;
    border-radius: 22px;
}

.pro-profiles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pro-text {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
}

.Learn {
    color: #C271FF;
}

.profile-img {
    justify-content: center;
}

.profile-name {
    color: #FFFFFF;
}

.profile-desc {
    color: #FFFFFF;
    size: 16px;
}

.purple {
    background-color: #C271FF;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-profile-img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.purple-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.purple-content div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.purple-profile-name {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    margin: 5px 0;
    font-weight: bold;
}

.purple-profile-desc {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    margin: 5px 0;
    height: 68px;
}

.person-job {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    margin: 5px 0;
    font-style: italic;
}

.video-section {
    text-align: center;
}

.video-title {
    font-family: 'Source Sans Pro', sans-serif;
}

.video-section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.video-block {
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.video-block img {
    height: 154px;
    width: 255px;
}

.video-card-title {
    font-family: 'Source Sans Pro', sans-serif;
    size: 16px;
    font-weight: 700;
}

.video-desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #07162980;
}

.video-block div {
}

.rating-name {
    font-family: 'Source Sans Pro', sans-serif;
}

.video-block img.Phillip {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.video-block p {
}